@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif JP', serif;
}

body {
    height: 100vh;
    width: 100%;
}

section {
    width: 100%;
    font-size: 1.5rem;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: url("images/header-bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header h2 {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: 400;
    white-space: nowrap;
    z-index: 1;
}

.header::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.4;
}

.lead {
    text-align: center;
    padding: 45px 0;
}

.lead h3 {
    font-size: 2.3rem;
    margin-bottom: 20px;
}

.lead p {
    font-size: 1.4rem;
}

.car {
    background-color: #e9e8e8;
    padding: 64px 0;
}

.selection {
    /* background-color: #3a3d42; */
    padding: 64px 0;
}

.container {
    max-width: 880px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .car-text {
    min-width: 500px;
}

.container .car-text h4 {
    font-size: 2.3rem;
    margin-bottom: 20px;
}

.container .car-text p {
    max-width: 580px;
    font-size: 1.2rem;
    line-height: 36px;
    margin-bottom: 18px;
}

.car .container .car-text button {
    padding: 20px;
    font-size: 1.2rem;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.3s;
}

.car .container .car-text button:hover {
    background-color: grey;
    color: white;
}

.container .car-img img {
    width: 330px;
    height: 300px;
    border-radius: 50%;

}

.container .car-img .car1 {
    margin-left: 150px;
}

.container .car-img .car2 {
    margin-right: 150px;
}


/* car-style */
.car-style {
    width: 100%;
    background-color: #e9e8e8;

}

.car-style .car-style-title {
    text-align: center;
    padding: 30px 0;
}

.style-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.car-card {
    /* border: 1px solid black; */
    border-radius: 20px;
    overflow: hidden;
    max-width: 400px;
}

.car-card p {
    font-size: 1rem;
}

.style-text {
    padding: 30px;
}

.style-text h4 {
   margin-top: -20px;
   margin-bottom: 10px;
}


/* mediaquery */
@media screen and (max-width:768px){
    /* * {
        font-size: 62.5%;
    } */
}

